@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");
body {
  font-family: Poppins;
  color: #143952;
}

.wrapper {
  background-image: url("/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
}

.header__items {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 15vw;
  height: auto;
}

.header-button {
  font-size: calc(calc(1vh + 1vw) * 1.2);
  margin: 0 calc(calc(1vh + 1vw) * 1);
  transition: all .2s;
}

.header-button:last-child {
  margin-left: calc(calc(1vh + 1vw) * 1.2);
  margin-right: 0;
  background-color: #F43C4F;
  color: #f7fafe;
  padding: 2rem 6rem;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  font-size: calc(calc(1vh + 1vw) * 1.2);
}

.header-button:last-child:hover {
  color: #143952;
}

.header-button:hover {
  cursor: pointer;
  color: #F43C4F;
}

.header-button--active {
  font-weight: 700;
}

.header-button--active:hover {
  cursor: unset;
  color: #143952;
}

.content {
  display: flex;
  padding: 0 5rem;
}

.content__info {
  width: 40%;
}

.content__title {
  font-size: calc(calc(1vh + 1vw) * 3.5);
  font-weight: 700;
}

.content__subtitle {
  color: #606060;
  font-size: calc(calc(1vh + 1vw) * 1.2);
  font-weight: 300;
  margin: 4rem 0;
}

.content__house {
  height: 30vw;
  width: auto;
}

.content__button {
  background-color: #F43C4F;
  color: #f7fafe;
  border: none;
  padding: 2rem 6rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all .2s;
}

.content__button:hover {
  background-color: #143952;
  cursor: pointer;
}

.footer {
  margin: 0 5rem;
  display: flex;
}

.footer-search {
  width: 80%;
}

.search__bar-bar {
  border: 0;
  border-bottom: black 0.1rem solid;
  margin: 2rem 0;
  width: 100%;
}

.search-buttons {
  display: flex;
  justify-content: start;
}

.search__button {
  border: 0;
  font-family: Poppins;
  background-color: white;
  margin: 0 calc((1vw + 1vh) * 0.8);
  width: 12vw;
  height: 10rem;
  box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.14);
  transition: all .2s;
}

.search__button:hover {
  cursor: pointer;
  background-color: #F43C4F;
}

.search__button:hover .search-button__title {
  color: #f7fafe;
}

.search__button:hover .search-button__info {
  color: #f7fafe;
}

.search__search {
  border: 0;
  font-family: Poppins;
  background-color: #F43C4F;
  color: #f7fafe;
  font-size: calc(calc(1vh + 1vw) * 1.1);
  box-shadow: black 1rem;
  margin: 0 3rem;
  width: 20rem;
  height: 10rem;
  transition: all .2s;
}

.search__search:hover {
  background-color: #143952;
  color: #F43C4F;
  cursor: pointer;
}

.search-button__title {
  font-size: calc(calc(1vh + 1vw) * 1.1);
  color: #143952;
  font-weight: 500;
}

.search-button__info {
  font-size: calc(calc(1vh + 1vw) * 0.7);
  color: #929292;
  font-weight: 300;
}

.footer-info {
  width: 20%;
  text-align: center;
  align-items: center;
  color: black;
  margin-top: 2rem;
}

.footer-info__desc {
  font-size: calc(calc(1vh + 1vw) * 1.2);
}

.footer-info__loc {
  font-size: calc(calc(1vh + 1vw) * 1.2);
}

.search__field {
  border: none;
  border-bottom: 0.1rem black solid;
  margin: 1rem 0;
  width: 100%;
}
